# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist
/dist-electron
*.exe
*.dll
*.pak
*.dat
*.bin
*.asar

# Build artifacts
dist-electron/
build/

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database
*.db
*.sqlite
*.sqlite3

# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs
*.log

# Temp files
*.temp
*.tmp

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
